@import 'movies.scss';

.nav-link{
	float:right;

	margin-top: 20px;
}

.2-col{
	 -moz-column-count: 2;
	-moz-column-gap: 2.5em;
	-webkit-column-count: 2;
	-webkit-column-gap: 2.5em;
	column-count: 2;
	column-gap: 2.5em;
}
