<div ng-if="movieDetail.Details">
<div class="grid images_3_of_2" >
    <button class="btn btn-info" onclick="window.history.back();">
      <span class="glyphicon glyphicon-backward"></span> Go Back
  </button>
   <div class="movie_image">
    <span class="movie_rating">{{movieDetail.Details.imdbRating}}</span>
    <img src="{{checkImage(movieDetail.Poster)}}" class="img-responsive" alt=""/>
</div>
</div>
<div class="desc1 span_3_of_2" ng-repeat="(key, value) in movieDetail.Details">
   <p class="movie_option"><strong>{{key}}: </strong><a href="#">{{value}}</a></p>
    
   <!-- <div class="down_btn"><a class="btn1" href="#"><span> </span>Download</a></div> -->
</div>
<div class="clearfix"> </div>
</div>

<div ng-if="!movieDetail" >
<button class="btn btn-info" onclick="window.history.back();">
      <span class="glyphicon glyphicon-backward"></span> Go Back
  </button>
  <p class="text-center alert alert-warning">
    It looks like that imdbID isn't around, where'd it go?
  </p>
</div>