
<form class="form-inline" ng-submit="searchMovies()">
	<input 
		class="form-control movies__search-input" 
		placeholder="Search movie by title or imdbID: e.g tt2290065" 
		ng-model="searchInput"
		ng-pattern="/^[a-zA-Z0-9 ]*$/"
	/>
	<input 
		class="form-control movies__searchyear-input" 
		placeholder="Year (optional)" 
		ng-model="searchInputYear"

	/>

	<label for="showFavsBtn">Only Favorites</label>
	<input id="showFavsBtn" type="checkbox" ng-click="showFavorites()" ng-checked="showingFavorites"></input>

	<button 
		class="btn btn-success movies__search-button">
		Search
	</button>
</form>

<div ng-show="types" ng-repeat="type in types">
	<label class="checkbox-inline">
	  <input ng-click="includeType(type)" type="checkbox" id="{{type}}" value="{{type}}"> {{type}}
	</label>
</div>



<!-- Movie item -->
<div class="alert alert-warning" ng-show="!movies.length">No Results</div>
<div class="alert alert-info" ng-show="movies.length">
 <span ng-if="totalResults"> {{totalResults}}</span>
 <span ng-if="totalRemoteResults.length"> from {{totalRemoteResults}} results.</span> </div>
<div 
	class="movie movie-test movie-test-dark movie-test-left" 
	ng-repeat="movie in movies | orderBy:'Title' | filter:typeFilter">

	<div class="movie__images">
		<a ui-sref="movie({imdbID:movie.imdbID})" class="movie-beta__link">
			<img 
				alt="{{movie.Title}}" 
				ng-src="{{checkImage(movie.Poster)}}" 
				class="img-responsive movie__poster" 
				alt=""
				/>
		</a>
	</div>

	<div class="movie__info">
		<a 
			ui-sref="movie({imdbID:movie.imdbID})"
			class="movie__title">
			{{movie.Title}}  
		</a>
		
		<p class="movie__option">
			{{movie.Year}}
		</p>

		<ul class="list_6" ng-show="movie.Details">
			<li><i class="icon2"> </i><p>{{movie.Details.imdbVotes}}</p></li>
			<li><i class="icon3"> </i><p>{{movie.Details.imdbVotes}}</p></li>
			<li >Rating : &nbsp;&nbsp;<p>{{movie.Details.imdbRating}}</p></li>
			<div class="clearfix"> </div>
		</ul>
	</div>

	<span 
		data-toggle="tooltip" title="Add to favorites" 
		class="movie__save-movie glyphicon glyphicon-star{{isSaved(movie) ? ' movie__saved' : '-empty'}}" 
		ng-click="toggleSave(movie)">
	</span>

	<div class="clearfix"> </div>

</div>
<form ng-submit="searchMovies()">
	<button ng-show="more" class="btn btn-info">Load more</button>
</form>
<!-- /Movie item -->